.main-2
{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-2 .main-2-1
{
    display: flex;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgb(50, 50, 50);
    border: 3px solid var(--tertiary-text-color);
    flex-direction: row;
    box-shadow: 0px 0px 10px var(--tertiary-text-color);
    gap: 30px;
}
.main-2 .main-2-1 .main-2-1-left
{
    min-width: 25%;
}
.main-2 .main-2-1 .main-2-1-company p
{
    font-size: 24px;
    margin: 0px;
    color: var(--secondary-text-color);
}
.main-2 .main-2-1 .main-2-1-location p
{
    margin: 5px 0px;
}
.main-2 .main-2-1 .main-2-1-desc p
{
    padding-left: 20px;
    margin: 5px;
    color: var(--tertiary-text-color);
}
@media screen and (max-width:768px) {
    .main-2 .main-2-1 .main-2-1-left
    {
        width: 100%;
    }
    .main-2 .main-2-1{
        flex-direction: column;
    }
}
@media screen and (max-width:456px) {
    .main-2
    {
        margin: 0px;
    }
    .main-2 .main-2-1 .main-2-1-desc p
    {
        padding-left: 10px;
    }
}