.main-1
{
    width: auto;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
}
.main-1 .main-1-1
{
    display: flex;
    flex-direction: row;
    margin: 100px 10px;
    padding: 10px 0px;
    border-radius: 25px;
}
.main-1 .main-1-1 .desc-1-1
{
    font-size: 1.5rem;
    margin: 15px 20px;
}
.main-1 .main-1-1 .desc-1-2
{
    font-size: 2.5rem;
    margin: 15px 20px;
}
.main-1 .main-1-2 .main-2-1 .dot
{
    color: var(--tertiary-text-color);
}
.main-1 .main-1-1 .desc-1-2 span
{
    color: var(--secondary-text-color);
    opacity: 1.0;
    padding-right: 5px;
    animation: light-effect 5s forwards ease-in-out, breathe-2 0.3s alternate infinite 5s;
}
@keyframes light-effect {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {opacity: 0.3;text-shadow: 0 0 3px var(--linear-bg-1);}
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100% {opacity: 1.0;text-shadow: 0 0 3px var(--secondary-text-color);}
}
@keyframes breathe-2 {
    from {border-right: 3px solid transparent;}
    to {border-right: 3px solid var(--primary-text-color);}
}
.main-1 .main-1-1 .desc-1-3
{
    font-size: 1rem;
    margin: 15px 20px;
    max-width: 100%;
    color: var(--tertiary-text-color);
}
.main-1 img
{
    width: 30%;
    margin: auto 8%;
    border: 3px solid var(--secondary-text-color);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px var(--secondary-text-color));
    animation: breathe 2s alternate infinite ease-in;
}
.main-1 .main-1-1 .buttons-1
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 20px;
}
.main-1 .main-1-1 .buttons-1 .resume-1, .contacts-1
{
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    font-size: 20px;
    transition: 0.6s ease;
    text-decoration: none;
}
.main-1 .main-1-1 .buttons-1 .resume-1:hover, .contacts-1:hover
{
    color: var(--tertiary-text-color);
    background-color: var(--secondary-text-color);
    opacity: 0.8;
    box-shadow: 0px 0px 10px var(--secondary-text-color);
}
.main-1 .main-1-1 .buttons-1 .resume-1 span, .contacts-1 span
{
    margin: 0px 10px;
    font-size: 16px;
    text-align: left;
}
.main-1 .main-1-1 .buttons-1 .resume-1 svg, .contacts-1 svg
{
    margin: auto 0px;
}
.main-1 .main-1-1 .buttons-1 .resume-1 svg{
    animation: breathe 1s alternate infinite;
}
.main-1 .main-1-1 .buttons-1 .contacts-1 svg
{
    animation: call 1s forwards infinite;
}
@keyframes call {
    0%,5%,10%,15%,20% { rotate: 100deg;}
    5%,15%,25%,35%,45% {rotate: 80deg;}
    45% {rotate: 90deg;}
}
@keyframes breathe {
    from {translate: 0px -5px;}
    to {translate: 0px 5px;}
}
/* Second Div*/
.main-1 .main-1-2
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px auto;
    padding: 10px 0px;
}
.main-1 .main-1-2 .education, .education-1
{
    margin: 0px auto;
    background-color: rgb(50, 50, 50);
    border-radius: 25px;
    border: 3px solid var(--tertiary-text-color);
    box-shadow: 0px 0px 5px var(--tertiary-text-color);
    padding: 15px;
}
.main-1 .main-1-2 .main-2-1
{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.main-1 .main-1-2 .main-2-1 .dot
{
    font-size: 22px;
    margin: 10px 20px;
}
.main-1 .main-1-2 .main-2-1 .education-1 a
{
    color: var(--secondary-text-color);
}
.main-1 .main-1-2 .main-2-1 .main-2-1-desc1
{
    margin: auto 0px;
    margin-top: 5px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 20px;
}
.main-1 .main-1-2 .main-2-1 .main-2-1-desc2
{
    margin: 0px;
    font-size: 16px;
    color: var(--tertiary-text-color);
}

@media screen and (max-width: 1040px) {
    .main-1 img
    {
        width: 20em;
        height: 20em;
        margin: auto;
        border-radius: 50%;
        object-fit: contain;
    }
    .main-1 .main-1-1
    {
        flex-direction: column-reverse;
        margin: 20px;
    }
    .main-1 .main-1-1 .buttons-1
    {
        flex-direction: column;
        width: max-content;
        margin: auto;
    }
}
@media screen and (max-width:768px) {
    .main-1
    {
        flex-direction: column;
        gap: 20px;
    }
    .main-1 img
    {
        width: 20em;
        height: 20em;
        margin-bottom: 20px;
        border-radius: 50%;
        object-fit: contain;
    }
    .main-1 .main-1-1 .buttons-1
    {
        flex-direction: column;
        max-width: max-content;
        margin: 20px auto 0px;
    }
    .main-1 .main-1-1
    {
        margin: 0px;
    }
    .main-1 .main-1-2
    {
        margin: 0px 10px;
        gap: 35px;
    }
    .main-1 .main-1-2 .education, .education-1
    {
        width: 100%;
    }
}
@media screen and (max-width:456px) {
    .main-1
    {
        padding: 0px;
        margin: 10px 5px;
    }
    .main-1 .main-1-1
    {
        margin: 0px;
    }
    .main-1 img
    {
        margin: 0px auto 20px;
        width: 15rem;
        height: 15rem;
    }
    .main-1 .main-1-1 .desc-1-3
    {
        max-width: 100%;
    }
    .main-1 .main-1-2 .main-2-1 .dot
    {
        margin: 10px;
    }
    .main-1 .main-1-2 .education, .education-1
    {
        padding: 0px;
    }
}