@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, rgb(25, 25, 25) 45%, rgb(80, 80, 80, 1.3) 50%, rgb(25, 25, 25) 55%);
  background-size: 200% 100%;
  font-family: "Sriracha";
  background-repeat: no-repeat;
  animation: backcolor 5s alternate infinite;
  color: var(--primary-text-color);
}
@keyframes backcolor {
  0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
